* {
    box-sizing: border-box;
}

@media screen (768px){
    .personal-information{
        margin-top:0;
    }

    .container{
        margin-top:0;
    }
}

body{
    padding: 30px 0 30px 0;
    width: 70%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F2EF;
}

body h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body a{
    text-decoration: #0a53be;
}

body p{
    color: #6c757d;
}

header{
    border: #e0e0e0 2px solid;
    border-radius: 10px;
    background-color: #fff;
}

.personal-information{
    margin-top: 100px;
}

.back-image{
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url("../assets/images/AdobeStock_434581462.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: inherit;
}

header img{
    object-fit: cover;
    width: 200px;
    height:200px;
    border-radius: 100%;
    border: #fff 3px solid;
    position: absolute;
    left: 50px;
    bottom: -100px;
}

main{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-top: 20px;
}

section{
    margin-top: 10px;
    border-radius: 8px;
    border: #e0e0e0 2px solid;
    padding: 20px;
    background-color: #fff;
}

section h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #157698;
    font-size: 2rem;
    margin: 0;
}

header h1 strong{
    font-weight: 900;
    color: #157698;
}

.container{
    margin-top: 100px;
}

.experience_details{
    display: flex;
    flex-direction: row;
}

.experience_image{
    flex: 1;
}

.experience_description{
    flex: 3;
}

.experience_description h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.experience_description h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.experience_description h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.separator{
    margin: 20px;
    border: #e3e3e3 1px solid;
}

